/src/.vs
/src/materialsystem/shaderlib/Release
*.pdb
/game/valve/SAVE
*.tmp
*.cache
game/valve/cfg/config.cfg
gave/bin/GameConfig.txt
content/mapsrc/my_name_is_soli.vmx
content/mapsrc/my_name_is_soli.log
game/bin/hammer.vdf
game/valve/modelsounds.cache
game/valve/demoheader.tmp
